{% extends 'main/layoute.html' %}

{% block title %}
    <title>Четвертая страничка </title>
{% endblock %}

{% block content%}

    <h2>Уход за котятами: Основные моменты</h2>

    <p>
    Уход за котятами требует особого внимания и заботы. Обеспечьте малышей качественным кормом,
        подходящим для их возраста, и следите за чистотой мисок. Регулярно играйте с котятами
        для развития их физических и социальных навыков. Посетите ветеринара для первых вакцинаций
        и осмотров. Не забывайте о безопасности: уберите мелкие предметы и опасные растения
        из зоны их доступа.
    </p>


{% endblock %}