{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content%}

    <h1>Добро пожаловать на сайт {{ caption }}!</h1>
    <h2>Кошки: очаровательные спутники</h2>

    <p>
        Кошки — это одни из самых популярных домашних питомцев, которые покорили сердца миллионов людей по всему миру. Эти грациозные и независимые существа обладают уникальным характером, который не оставляет равнодушным ни одного хозяина. Кошки известны своей способностью приносить уют и тепло в дом, а их мурлыканье успокаивает и создает атмосферу уюта.
    </p>
    <p>
    Каждая кошка уникальна: они могут быть ласковыми и нежными, игривыми и озорными, или же предпочитать одиночество. Несмотря на свою независимость, кошки часто привязываются к своим владельцам и становятся настоящими членами семьи.
    </p>
    <p>
    Забота о кошке включает в себя правильное питание, регулярный уход за шерстью и когтями, а также внимание к ее эмоциональному состоянию. Кошки ценят стабильность и комфорт, поэтому создание безопасного и уютного пространства для них — одна из главных задач владельца.
    </p>
    <p>
    В нашем блоге вы найдете полезные советы по уходу за кошками, подбору породы, а также множество интересных фактов о жизни этих удивительных животных. Узнайте больше о том, как сделать жизнь вашего пушистого друга еще счастливее!
    </p>
    <h5>Следите за обновлениями и подписывайтесь на нашу рассылку!</h5>
{% endblock %}