{% extends 'main/layoute.html' %}

{% block title %}
    <title>Вторая страничка </title>
{% endblock %}

{% block content%}

    <h2>Котята: маленькие чудеса в вашем доме</h2>

    <p>
    Котята — это воплощение милоты и игривости. Эти маленькие пушистые комочки приносят в дом радость и веселье, наполняя его энергией и жизнью. Их забавные игры и искреннее любопытство вызывают улыбку и создают атмосферу радости.
    </p>
    <p>
    Первый год жизни котёнка — это время, когда он активно учится, познаёт мир и формирует свой характер. Именно в этот период важно уделить внимание правильному воспитанию и заботе, чтобы маленький питомец вырос здоровым и счастливым. Котята требуют особого ухода, включая регулярное кормление, чистоту, а также правильное обучение основным навыкам.
    </p>
    <p>
    Важно также учитывать, что котята очень энергичны и нуждаются в активных играх и внимании. Игрушки, специальные когтеточки и уютное место для сна помогут вашему котёнку развиваться гармонично.
    </p>
    <p>
    На нашей странице вы найдете советы по уходу за котятами, рекомендации по кормлению, а также информацию о том, как подготовить дом к появлению нового члена семьи. Узнайте, как сделать этот период жизни вашего питомца незабываемым и счастливым!
    </p>
{% endblock %}