{% extends 'main/layoute.html' %}

{% block title %}
    <title>Третья страничка </title>
{% endblock %}

{% block content%}

    <h2>Уход за кошками: Полезные советы</h2>
    <p>
    Уход за кошкой требует внимания и заботы, чтобы питомец чувствовал себя комфортно и был здоров.
        Вот несколько рекомендаций, которые помогут вам обеспечить достойный уход за вашим пушистым другом.
    </p>


    <p>
    **Питание**: Выберите качественный корм, соответствующий возрасту и особенностям вашей кошки.
        Не забывайте следить за свежестью воды.
    </p>
    <p>
    **Гигиена**: Регулярно чистите лоток и обеспечьте кошке доступ к чистой туалетной зоне.
        Это важно для её физического и эмоционального здоровья.
    </p>
    <p>
       **Шерсть и когти**: Расчесывайте кошку, чтобы предотвратить образование колтунов, особенно если у неё длинная шерсть.
        Подстригайте когти, чтобы избежать повреждений мебели и царапин.
    </p>
    <p>
        **Здоровье**: Регулярно посещайте ветеринара для плановых осмотров и вакцинаций.
        Следите за состоянием зубов и десен вашего питомца.
    </p>

{% endblock %}